<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>877102769091-vi7a7cjccg024646uqtji51o1gnvf47o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.877102769091-vi7a7cjccg024646uqtji51o1gnvf47o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>877102769091-te3sdpslrqcmp6ctsmhmtqeuni1gs30o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDvsYFtJI6A4JBUvqmaDVbOR4vQfQVVMhs</string>
	<key>GCM_SENDER_ID</key>
	<string>877102769091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fitween.pistachio</string>
	<key>PROJECT_ID</key>
	<string>pistachio-8c35b</string>
	<key>STORAGE_BUCKET</key>
	<string>pistachio-8c35b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877102769091:ios:9a906be44608d476d15376</string>
</dict>
</plist>